# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last matching pattern takes the most precedence

# These owners will be the default owners for everything
*                               @itisopen/engineering @itisopen/contributors

# Cloud Posse must review any changes to Makefiles
**/Makefile                     @itisopen/engineering
**/Makefile.*                   @itisopen/engineering

# Cloud Posse must review any changes to GitHub actions
.github/*                       @itisopen/engineering

# Cloud Posse must review any changes to GitHub templates actions
templates/.github/*             @itisopen/engineering
templates/terraform/.github/*   @itisopen/engineering
**/.gomplate.*                  @itisopen/admins
**/configs/gomplate.yaml        @itisopen/admins
